<nav class="crumbs" style="position: fixed; top: 0; left: 0; right: 0; background-color: #fff;">
    <ol style="list-style: none; text-align: center;">
      <li class="crumb" style="display: inline;"><a href="#messagerie-mél">Messagerie</a></li>
      <li class="crumb" style="display: inline;"><a href="#agenda">Agenda</a></li>
      <li class="crumb" style="display: inline;"><a href="#discussions">Discussions</a></li>
      <li class="crumb" style="display: inline;"><a href="#tchap">Tchap</a></li>
      <li class="crumb" style="display: inline;"><a href="#espaces-de-travail">Espaces de travail</a></li>
      <li class="crumb" style="display: inline;"><a href="#documents">Documents</a></li>
      <li class="crumb" style="display: inline;"><a href="#annuaire">Annuaire</a></li>
      <li class="crumb" style="display: inline;"><a href="#intégration-de-la-webconférence-de-létat">Webconférence</a></li>
      <li class="crumb" style="display: inline;"><a href="#communautés">Communautés</a></li>
      <li class="crumb" style="display: inline;"><a href="#historique-des-versions">Versions</a></li>
    </ol>
</nav>