<nav class="crumbs">
    <ol>
      <li class="crumb"><a href="#messagerie-mél">Messagerie</a></li>
      <li class="crumb nomobile"><a href="#agenda">Agenda</a></li>
      <li class="crumb nomobile"><a href="#discussions">Discussions</a></li>
      <li class="crumb nomobile"><a href="#tchap">Tchap</a></li>
      <li class="crumb nomobile"><a href="#espaces-de-travail">Espaces de travail</a></li>
      <li class="crumb nomobile"><a href="#documents">Documents</a></li>
      <li class="crumb nomobile"><a href="#annuaire">Annuaire</a></li>
      <li class="crumb"><a href="#intégration-de-la-webconférence-de-létat">Webconférence</a></li>
      <li class="crumb"><a href="#communautés">Communautés</a></li>
      <li class="crumb"><a href="#historique-des-versions">Versions</a></li>
    </ol>
</nav>
<style>
    nav.crumbs {
        position: fixed; 
        top: 0; 
        left: 0; 
        right: 0; 
        background-color: #15767a;
        height: 35px;
    }

    nav.crumbs ol {
        list-style: none; 
        text-align: center;
        line-height: 32px;
        margin: 0;
    }

    li.crumb {
        display: inline;
        padding: 0 1rem;
    }

    li.crumb a {
        color: #fff;
        text-decoration: underline;
        font-size: 12px;
    }

    .main-content h1, 
    .main-content h2, 
    .main-content h3, 
    .main-content h4, 
    .main-content h5, 
    .main-content h6 {
        margin-top: 0rem;
        padding-top: 2.5rem;
    }
</style>