<nav class="crumbs" style="position: fixed; top: 0; left: 0; right: 0;">
    <ol style="display: flex; list-style: none;">
      <li class="crumb"><a href="#messagerie-mél">Messagerie</a></li>
      <li class="crumb"><a href="#agenda">Agenda</a></li>
      <li class="crumb"><a href="#discussions">Discussions</a></li>
      <li class="crumb"><a href="#tchap">Tchap</a></li>
      <li class="crumb"><a href="#espaces-de-travail">Espaces de travail</a></li>
      <li class="crumb"><a href="#documents">Documents</a></li>
      <li class="crumb"><a href="#annuaire">Annuaire</a></li>
      <li class="crumb"><a href="#intégration-de-la-webconférence-de-létat">Webconférence</a></li>
      <li class="crumb"><a href="#communautés">Communautés</a></li>
      <li class="crumb"><a href="#historique-des-versions">Versions</a></li>
    </ol>
</nav>